#########################
#FILE GENERATI DA UNREAL#
#########################

*/.vs
*/Build
*/Binaries
*/Intermediate
*/DerivedDataCache
*/Saved
*/content/StarterContent/Textures
*/content/StarterContent/HDRI
*/content/StarterContent/Audio
*/content/StarterContent/Particles

#######################
#FILE DI VISUAL STUDIO#
#######################
*.VC.db